<div class="row">
	<div class="col-sm-offset-2 col-sm-9">	
		<h1>Upload PDF</h1>
		<hr>
	</div>

	<%= form_for Document.new, url: documents_path, html: { multipart: true, class: "form-horizontal" } do |f| %>
	  <div class="form-group">
	    <label for="inputPdf" class="col-sm-1 col-sm-offset-1 control-label">PDF</label>
	    <div class="col-sm-9">
			  <%= f.file_field :pdf_file, class: "form-control", id: "inputPdf" %>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputHash" class="col-sm-1 col-sm-offset-1 control-label">Hash</label>
	    <div class="col-sm-9">
	    	<%= f.text_area :pdf_fields_text, class: "form-control", id: "inputHash", placeholder: hash_placeholder, rows: "11" %>
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	    	<%= f.submit "Generate", class: "btn btn-default" %>
	    </div>
	  </div>
	<% end -%>
</div>